@import "../../App.scss";

.items-info {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  color: $fontColor;

  .items-header {
    text-align: center;
    text-transform: uppercase;
  }

  .items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .item-info {
      border-radius: 3px;
      background: #f9f9f9;
      padding: $textPadding;
      display: flex;
      flex-direction: column;
      margin: $tilesMargin;
      width: 500px;

      .item-info__name {
        font-weight: 600;
      }
    }
  }
}
